body {
    font-family: Arial, sans-serif;
    background-color: #d9d9e4;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    text-shadow: 2px 2px 3px #cabedb;
    overflow: hidden;
}

#container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #7382d54d;
    padding: 0px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
    height: 45px;
    padding-right: 35px;
}

.icon {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    padding: 20px;
    padding-left: 35px;
    margin: 0px;
    font-weight: 800;
}

#cityInput {
    width: 60%;
    max-width: 190px;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: #b488f5c3;
    caret-color: #f7f7f8;
    color: rgb(232, 247, 255);
    padding: 7px 10px;
    border: 2px solid transparent;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-right: 1px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

#cityInput:hover {
    border: 2px solid rgba(255, 255, 255, 0.16);
}

#cityInput:focus {
    border: 2px solid #a970ff;
    background-color: rgba(181, 181, 234, 0.741);
}

.btn1 {
    border: none;
    cursor: pointer;
    background-color: #a970ff;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 35px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 2500ms;
}

.btn1.clicked {
    transform: scale(1000);
    background-color: #a970ff;
    backdrop-filter: blur(5px);
    border-radius: 99999px;
}

#weatherInfo {
    font-size: 18px;
    margin-top: 20px;
}

#result {
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    margin-top: 30px;
    margin-right: 35px;
    -webkit-animation-name: fadeInOpacity;
            animation-name: fadeInOpacity;
    -webkit-animation-timing-function: cubic-bezier(0.79, -0.46, 0.54, 0.98);
            animation-timing-function: cubic-bezier(0.79, -0.46, 0.54, 0.98);
    -webkit-animation-duration: 2.5s;
            animation-duration: 2.5s;
}


.container1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 700px;
    height: 400px;
    margin-left: 35px;
    margin-bottom: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.158);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.158);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #7382d54d;
}

.temperature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 350px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 130px;
    font-weight: 800;
    text-transform: lowercase;
    text-shadow: 2px 2px 8px #7382d5;
    color: #8878f0;
}

#weatherInfo {
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
}

#weatherInfo1,
#weatherInfo2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;
    text-transform: capitalize;
    margin-left: 8px;
}

.cinside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 365px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.cinside1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 350px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 700px;
    height: 100px;
    margin: 0px;
    margin-left: 35px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    padding: 0px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weatherdata {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 45%;
    margin-bottom: 30px;
    overflow: hidden;
}

.container3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
}

#weatherInfo6 img {
    display: none;
    height: 400px;
    width: 400px;
    margin-top: 0px;
    top: 0px;
    left: 0px;
    overflow: hidden;
    position: absolute;
}

#error_page {
    background-color: #d9d9e4;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-animation-name: fadeInOpacity;
            animation-name: fadeInOpacity;
    -webkit-animation-timing-function: cubic-bezier(0.79, -0.46, 0.54, 0.98);
            animation-timing-function: cubic-bezier(0.79, -0.46, 0.54, 0.98);
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
}

#error_page img {
    width: 50%;
    height: 600px;
}

#error_page h1 {
    margin-top: -45px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-variant: small-caps;
    color: rgba(7, 7, 7, 0.845);
    -webkit-animation-name: fadeInOpacity1;
            animation-name: fadeInOpacity1;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

@-webkit-keyframes fadeInOpacity1 {
    0% {
        opacity: 0;
        font-size: 29px;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInOpacity1 {
    0% {
        opacity: 0;
        font-size: 29px;
    }
    100% {
        opacity: 1;
    }
}

#bgvideo {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -5;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-animation-name: fadeInOpacity;
            animation-name: fadeInOpacity;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
}

#bgvideo video {
    width: 100%;
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    -webkit-animation-name: fadeInOpacity;
            animation-name: fadeInOpacity;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
}

#v1,
#v2,
#v3,
#v4,
#v5,
#v6,
#v7,
#v8,
#v9,
#v10 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#citynotfound {
    background-color: white;
    color: #7d27fd;
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 600px;
    -webkit-animation-name: fadeInOpacity;
            animation-name: fadeInOpacity;
    -webkit-animation-timing-function: cubic-bezier(0.79, -0.46, 0.54, 0.98);
            animation-timing-function: cubic-bezier(0.79, -0.46, 0.54, 0.98);
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
}

.x {
    font-size: 30px;
    font-weight: 700;
    color: rgb(200, 7, 7);
    text-decoration: none;
    margin-top: 15px;
    margin-left: 90%;
    overflow: hidden;
}

.x:hover {
    color: rgb(243, 16, 16);
    text-shadow: 1px 1px 3px rgb(231, 201, 201);
}

#st1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        overflow: hidden;
        margin: 4%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            -webkit-animation-name: fadeInOpacity;
                    animation-name: fadeInOpacity;
    -webkit-animation-timing-function: cubic-bezier(0.79, -0.46, 0.54, 0.98);
            animation-timing-function: cubic-bezier(0.79, -0.46, 0.54, 0.98);
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
}

#start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid #7382d54d;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 5%;
}

.welcm {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    color: #d2cbff;
    margin-bottom: 0%;
    margin-top: 30px;
}

.des {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(229, 234, 239);
    margin-bottom: -5px;
}

.link {
    width: 95px;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.829);
    margin: 15px;
    margin-top: 10px;
}

hr {
    border-style: solid;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.423);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    z-index: 9999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out; /* fade-out transition */
    opacity: 1;
    scale: 2;
}

.loader {
    --path: #fff;
    --dot:rgb(150, 57, 250);
    --duration: 3s;
    width: 44px;
    height: 44px;
    position: relative;
  }
  
  .loader:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    display: block;
    background: var(--dot);
    top: 37px;
    left: 19px;
    -webkit-transform: translate(-18px, -18px);
        -ms-transform: translate(-18px, -18px);
            transform: translate(-18px, -18px);
    -webkit-animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  
  .loader svg {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .loader svg rect, .loader svg polygon, .loader svg circle {
    fill: none;
    stroke: var(--path);
    stroke-width: 10px;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  
  .loader svg polygon {
    stroke-dasharray: 145 76 145 76;
    stroke-dashoffset: 0;
    -webkit-animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  
  .loader svg rect {
    stroke-dasharray: 192 64 192 64;
    stroke-dashoffset: 0;
    -webkit-animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  
  .loader svg circle {
    stroke-dasharray: 150 50 150 50;
    stroke-dashoffset: 75;
    -webkit-animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  
  .loader.triangle {
    width: 48px;
  }
  
  .loader.triangle:before {
    left: 21px;
    -webkit-transform: translate(-10px, -18px);
        -ms-transform: translate(-10px, -18px);
            transform: translate(-10px, -18px);
    -webkit-animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  
  @-webkit-keyframes pathTriangle {
    33% {
      stroke-dashoffset: 74;
    }
  
    66% {
      stroke-dashoffset: 147;
    }
  
    100% {
      stroke-dashoffset: 221;
    }
  }
  
  @keyframes pathTriangle {
    33% {
      stroke-dashoffset: 74;
    }
  
    66% {
      stroke-dashoffset: 147;
    }
  
    100% {
      stroke-dashoffset: 221;
    }
  }
  
  @-webkit-keyframes dotTriangle {
    33% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  
    66% {
      -webkit-transform: translate(10px, -18px);
              transform: translate(10px, -18px);
    }
  
    100% {
      -webkit-transform: translate(-10px, -18px);
              transform: translate(-10px, -18px);
    }
  }
  
  @keyframes dotTriangle {
    33% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  
    66% {
      -webkit-transform: translate(10px, -18px);
              transform: translate(10px, -18px);
    }
  
    100% {
      -webkit-transform: translate(-10px, -18px);
              transform: translate(-10px, -18px);
    }
  }
  
  @-webkit-keyframes pathRect {
    25% {
      stroke-dashoffset: 64;
    }
  
    50% {
      stroke-dashoffset: 128;
    }
  
    75% {
      stroke-dashoffset: 192;
    }
  
    100% {
      stroke-dashoffset: 256;
    }
  }
  
  @keyframes pathRect {
    25% {
      stroke-dashoffset: 64;
    }
  
    50% {
      stroke-dashoffset: 128;
    }
  
    75% {
      stroke-dashoffset: 192;
    }
  
    100% {
      stroke-dashoffset: 256;
    }
  }
  
  @-webkit-keyframes dotRect {
    25% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  
    50% {
      -webkit-transform: translate(18px, -18px);
              transform: translate(18px, -18px);
    }
  
    75% {
      -webkit-transform: translate(0, -36px);
              transform: translate(0, -36px);
    }
  
    100% {
      -webkit-transform: translate(-18px, -18px);
              transform: translate(-18px, -18px);
    }
  }
  
  @keyframes dotRect {
    25% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  
    50% {
      -webkit-transform: translate(18px, -18px);
              transform: translate(18px, -18px);
    }
  
    75% {
      -webkit-transform: translate(0, -36px);
              transform: translate(0, -36px);
    }
  
    100% {
      -webkit-transform: translate(-18px, -18px);
              transform: translate(-18px, -18px);
    }
  }
  
  @-webkit-keyframes pathCircle {
    25% {
      stroke-dashoffset: 125;
    }
  
    50% {
      stroke-dashoffset: 175;
    }
  
    75% {
      stroke-dashoffset: 225;
    }
  
    100% {
      stroke-dashoffset: 275;
    }
  }
  
  @keyframes pathCircle {
    25% {
      stroke-dashoffset: 125;
    }
  
    50% {
      stroke-dashoffset: 175;
    }
  
    75% {
      stroke-dashoffset: 225;
    }
  
    100% {
      stroke-dashoffset: 275;
    }
  }
  
  .loader {
    display: inline-block;
    margin: 0 16px;
  }
  
  @-webkit-keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    }
  
  @keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    }


    /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #start {
        width: 280px;
    }
    .welcm {
        font-size: 35px;
    }
    .des {
        font-size: 15px;
    }
    #dev {
        margin-top:0px;
    }
    #container {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .icon {
        font-size: 35px;
        padding-left: 32px;
    }
    #cityInput {
        width: 70%;
    }
    .header {
        margin-bottom: 10px;
        padding-right: 55px;
    }
    #result {
        margin-right: 5px;
    }
    .container1 {
        width: 340px;
        margin-left: 15px;
    }
    .weatherdata {
        margin-left: 0%;
        margin-bottom: -185px;
    }
    .cinside,.cinside1 {
        width: 335px;
    }
    .temperature {
        font-size: 80px;
    }
    #weatherInfo {
        margin-bottom: 0px;
    }
    #weatherInfo6 img {
        width: 250px;
        height: 250px;
        top: -10px;
        left: 45px;
    }
    #container2 {
        width: 340px;
        margin-left: 15px;
    }
    #container2 img {
        width: 40px;
    }
    #weatherInfo7,#weatherInfo4,#weatherInfo5 {
        font-size: 19px;
    }
    .x {
        margin-left: 80%;
        margin-bottom: 0px;
    }
    #citynotfound img {
        width: 100%;
        height: 380px;
    }
    #citynotfound h1 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 65px;
    }
    #error_page img {
        width: 100%;
        height: 430px;
    }
    #error_page h1 {
        font-size: 20px;
        text-align: center;
    }
    #loader {
        scale: 1.3;
    }
    #bgvideo {
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 355px and down) */
  @media only screen and (max-width: 385px) {
    #start {
        width: 210px;
    }
    .welcm {
        font-size: 26px;
    }
    .des {
        font-size: 14px;
    }
    #dev {
        margin-top:0px;
        font-size: 15px;
    }
    #container {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .icon {
        font-size: 27px;
        padding-left: 18px;
    }
    #cityInput {
        width: 70%;
    }
    .header {
        margin-bottom: 10px;
        padding-right: 20px;
    }
    #result {
        margin-right: 5px;
    }
    .container1 {
        width: 260px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .weatherdata {
        margin-left: 0%;
        margin-bottom: -185px;
    }
    .cinside,.cinside1 {
        width: 250px;
    }
    .temperature {
        font-size: 75px;
        width: 250px
    }
    #weatherInfo {
        margin-bottom: 0px;
        margin-top: 5px;
        width: 250px;
        font-size: 30px;
    }
    #weatherInfo6 img {
        width: 250px;
        height: 250px;
        top: -10px;
        left: 8px;
    }
    #container2 {
        width: 250px;
        margin-left: 10px;
        height: 45px;
        padding: 5px;
    }
    #container2 img {
        width: 25px;
    }
    #weatherInfo7,#weatherInfo4,#weatherInfo5 {
        font-size: 15px;
    }
    .x {
        margin-left: 80%;
        margin-bottom: 0px;
    }
    #citynotfound img {
        width: 100%;
        height: 295px;
    }
    #citynotfound h1 {
        font-size: 21px;
        text-align: center;
        margin-bottom: 190px;
    }
    #error_page img {
        width: 100%;
        height: 430px;
    }
    #error_page h1 {
        font-size: 20px;
        text-align: center;
    }
    #loader {
        scale: 3.5;
    }
    #bgvideo {
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    #result {
        margin-right: 20px;
    }
    #start {
        width: 640px;
    }
  } 